<div class="ship-detail">
    <div class="render">
        <ship-render [ship]="ship" [settings]="renderSettings" (changeSettings)="updateFromSettings($event)"></ship-render>
    </div>

    <div class="content">
        <div class="infocard" [style.display]="showRender? 'none' : ''">
            <ship-infocard [rawData]="ship.infocard"></ship-infocard>
        </div>
    
        <div class="toggle-render" (click)="toggleRender()">[ toggle ]</div>
    
        <div class="sidebar-info">
            <div class="table">
                <div class="tr">
                    <div class="td header">{{ ship.name }}</div>
                </div>
            </div>
            <div class="table">
                <div class="tr">
                    <div class="td">Hitpoints</div>
                    <div class="td">{{ ship.hitpoints | number }}</div>
                </div>
                <div class="tr">
                    <div class="td">Cargo</div>
                    <div class="td">{{ ship.hold_size | number }}</div>
                </div>
                <div class="tr">
                    <div class="td">Batteries</div>
                    <div class="td">{{ ship.max_bats | number }}</div>
                </div>
                <div class="tr">
                    <div class="td">Nanobots</div>
                    <div class="td">{{ ship.max_bats | number }}</div>
                </div>
            </div>
            <div class="table">
                <div class="tr">
                    <div class="td header">Rendering</div>
                </div>
            </div>
            <div class="table settings-table">
                <div class="tr">
                    <div class="td">Auto-rotate</div>
                    <div class="td">
                        <input type="checkbox" [(ngModel)]="renderSettings.autoRotate" (change)="updateSettings()">
                    </div>
                </div>
                <div class="tr">
                    <div class="td">Level of detail</div>
                    <div class="td">
                        <select [(ngModel)]="renderSettings.selectedLOD" (change)="updateSettings()">
                            <option *ngFor="let lod of ship.lods">{{ lod }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table settings-table">
                <div class="tr">
                    <div class="td header">
                        <select [(ngModel)]="renderSettings.shader" (change)="updateSettings()">
                            <option value="flat">Flat shader</option>
                            <option value="pbr">(experimental) PBR shader</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table settings-table">
                <div class="tr">
                    <div class="td">(debug) bounds</div>
                    <div class="td">
                        <input type="checkbox" [(ngModel)]="renderSettings.boundingBox" (change)="updateSettings()">
                    </div>
                </div>
            </div>

            <div class="table settings-table" *ngIf="renderSettings.shader === 'flat'">
                <div class="tr">
                    <div class="td">(debug) lambert shading</div>
                    <div class="td">
                        <input type="checkbox" [(ngModel)]="renderSettings.drawLights" (change)="updateSettings()">
                    </div>
                </div>
                <div class="tr">
                    <div class="td">(debug) textures</div>
                    <div class="td">
                        <input type="checkbox" [(ngModel)]="renderSettings.drawTextures" (change)="updateSettings()">
                    </div>
                </div>
            </div>

            <div class="table settings-table" *ngIf="renderSettings.shader === 'pbr'">
                <div class="tr">
                    <div class="td header">PBR</div>
                </div>
            </div>
            <div class="table settings-table" *ngIf="renderSettings.shader === 'pbr'">
                <div class="tr">
                    <div class="td">
                        <div>
                            <div>Roughness</div>
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.metallicRoughness[0]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.metallicRoughness[1]" (change)="updateSettings()" min="0" max="1" step="0.05">
                        </div>
                        <div>
                            <div>Light color</div>
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.lightColor[0]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.lightColor[1]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.lightColor[2]" (change)="updateSettings()" min="0" max="1" step="0.05">
                        </div>
                        <div>
                            <div>Light direction</div>
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.lightDirection[0]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.lightDirection[1]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.lightDirection[2]" (change)="updateSettings()" min="0" max="1" step="0.05">
                        </div>   
                        <div>
                            <div>emissiveFactor</div>
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.emissiveFactor[0]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.emissiveFactor[1]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.emissiveFactor[2]" (change)="updateSettings()" min="0" max="1" step="0.05">
                        </div>  
                        <div>
                            <div>camera</div>
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.camera[0]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.camera[1]" (change)="updateSettings()" min="0" max="1" step="0.05">
                            <input type="number" [(ngModel)]="renderSettings.pbrSettings.camera[2]" (change)="updateSettings()" min="0" max="1" step="0.05">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>