<!DOCTYPE html>
<html lang="">
    <head>
        {% load static %}
        {% load devmode %}
        <base href="/" />
        <title>FLShipMatrix : New Universe</title>

        <style>
            body {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <app>Loading...</app>
    </body>
    {% if  devmode %}
        <script src="{% static 'ng/polyfills.js' %}"></script>
        <script src="{% static 'ng/app.js' %}"></script>
    {% else %}
        <script src="{% static 'js/polyfills.min.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>
    {% endif %}
</html>